@reference "tailwindcss";

.container{
    @apply w-full px-5 text-center my-10
}
.container .title {
    @apply mb-5 text-2xl md:text-3xl  text-(--nav-text-color) font-bold
}
.container .subtitle{
    @apply mb-7 text-[1.2rem]  opacity-70
}
.cards{
    @apply flex justify-around flex-wrap gap-7
}
.card{
    @apply relative z-0 transition duration-300 ease-linear w-[350px] h-[200px] overflow-hidden rounded-sm
}
.card .img{
     @apply w-full h-full transition duration-300 ease-linear rounded-sm
}
.card:hover .img{
    transform: scale(1.2); 
}
.card .background{
    @apply absolute hidden w-full h-full bg-transparent z-10 top-0 cursor-pointer rounded-sm content-center
}
.card:hover .background{
    @apply  bg-gray-900/80 block 
}
.icon{
    @apply ml-[150px] text-5xl 
}
.card:hover .icon{
    @apply ml-[150px] text-5xl opacity-80 text-gray-100
}
.background .bgText{
    @apply absolute bottom-5 left-3 right-3 font-bold
}
.skeleton {
  height: 200px;
  width: 350px;
  background: linear-gradient(90deg,#d4d3d3,#e9e7e7,#d4d3d3);
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}